salle/src/main/java/com/salle/application/ChatRoomService_backup.java
salle/src/main/java/com/salle/**./backup.java
salle/src/main/resources/aws.yml
salle/src/main/resources/aws.properties
salle/src/main/resources/db.properties
salle/src/test/**
salle/jasypt.sh

