
*{
	box-sizing: border-box;
	font-size: 11px;
}

a {
	text-decoration: none;
	color: black;
}

.container_pr_img {
	width: 500px;
	height: 350px;
	display: flex;
	position: relative;
}

.div_pr_img {
	width: 500px;
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	animation: fade 0.5s;
	display: none;
}

#imgButton {
	cursor: pointer;
}

.button_img {
	background-image: url(/resources/img/210211_salle_add.png);
	background-size: 30px;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	border-style: none;
	border-radius: 20px;
	background-color: rgba(255,255,255);
	cursor: pointer;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 16px;
	color: rgb(248, 248, 248);
	font-size: 2rem;
	transition: 0.6s ease;
	border-radius: 5px;
}

.next {
	right: 0;
}

.prev:hover, .next:hover {
	background-color:rgba(190,190,190,0.5);	
}

.container_info1 {
	display: flex;
	width: 400px;
	padding: 20px 0;
	border-bottom: 1px solid #e9ecef;
	justify-content: space-between;
}

.wrap_nickName_pr_region {
	display: block;
}

.nickName, .pr_region {
	display: block;
}

#btn_chat {
	background-color: #70b8ff;
	border: 2px solid #70b8ff;
	width: 110px;
	height: 30px;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
}

.container_info2 {
	padding: 20px 0;
	border-bottom: 1px solid #e9ecef;
}

.nickName {
	font-weight: bold; 
	color: black;
}

.pr_title, .pr_price {
	font-weight: bold;
	font-size: 13px;
}



