@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;	
}


div[class^="chatRoomInfo"] {
	display: flex;
	flex-direction: row;
	width: 500px;
	max-width: 500px;
	overflow: hidden;
	height: 100px;
	margin-left: 50px;
	position: relative;
}

.wrapPr_img {
	display: block;
	position: absolute;
	top: 25px;
	left: 0px;
}

div[class^=wrapUsername] {
	display: block;
	position: absolute;
	top: 5px;
	left: 100px;
}

div[class^=wrapMessage] {
	display: block;
	position: absolute;
	top: 50px;
	left: 100px;
}

.pr_img {
	width: 80px;
	height: 50px;
}

#username {
	font-weight: bold;
}





