
*{
	box-sizing: border-box;
	font-size: 11px;
}

a {
	text-decoration: none;
}

.wrap_product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container_product {
	margin-right: 34px;
    margin-bottom: 40px;
}

.pr_img {
	width: 200px;
	height: 150px;
}

.div_pr_img {
	width: 200px;
	height: 150px;
}

.div_pr_title {
	font-size: 13px;
	font-weight: bold; 
	color: black;
	max-width: 180px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div_pr_price {
	font-size: 12px;
	font-weight: bold;
	color: rgba(1, 112, 223, 1);
}
