<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.salle.mapper.ChatMapper">
    
    <insert id="insertChatMessage" parameterType="com.salle.domain.ChatMessage">
    	INSERT INTO 
    	chatmessage(pr_id, sendtime, fromname, toname, fromid, toid, message, chatread, chatid, pr_email)
    	VALUES (#{pr_id}, #{sendtime}, #{fromname}, #{toname}, #{fromid}, #{toid}, #{message}, 1, #{chatid}, #{pr_email});
    </insert>

    <select id="getAllChatMessages" resultType="com.salle.domain.ChatMessage">
   		SELECT fromname, message, sendtime
   		FROM chatmessage
    	WHERE chatid = #{chatid}
    	ORDER BY sendtime ASC;
   </select>
    
    <select id="getAllChatRoom" resultType="com.salle.domain.ChatRoom">
    	SELECT *
    	FROM chatroom
    	WHERE sellerid = #{email} OR
    	buyerid = #{email};
    </select>
    
    <select id="getChatRoom" resultType="com.salle.domain.ChatRoom">
    	SELECT *
    	FROM chatroom
    	WHERE chatid = #{chatid};
    </select>

    <select id="getChatMessageInfoByChatid" resultType="com.salle.domain.ChatMessage">
    	SELECT *
    	FROM chatmessage
    	WHERE chatid = #{chatid}
    	LIMIT 1;
    </select>

    <select id="getChatMessageInfoByEmail" resultType="com.salle.domain.ChatMessage">
    	SELECT *
    	FROM chatmessage
    	WHERE fromid = #{email} OR toid = #{email}
    	LIMIT 1;
    </select>
    
    <select id="getHeadChatMessage" resultType="String">
		SELECT message
		FROM chatmessage
		WHERE chatid = #{chatid}
		ORDER BY id DESC 
		LIMIT 1;
	</select>

    <update id="updateFileName">
    	UPDATE chatmessage
    	SET FILENAME = #{fileName}
    	WHERE ID = #{id};
    </update>
   
    <update id="updateChatReadQuery">
    	UPDATE chatmessage
    	SET chatread = 1
    	WHERE pr_id = #{pr_id} AND fromid = #{fromid}
    			AND toid=#{toid};
    </update>
   
   <!-- 
   <select id="getUnreadMessages" resultType="int">
   		SELECT COUNT(chatid)
   		FROM chatmessage
   		WHERE (SELLERID = #{email} AND CHATREADSELL = 0) OR 
   		(BUYERID = #{email} AND CHATREADBUY = 0);
   </select>
    -->
   
	<insert id="addChatRoom" parameterType="com.salle.domain.ChatRoom">
		INSERT INTO
		chatroom(chatid, pr_id, sellerid, buyerid)
		VALUES (#{chatid}, #{pr_id}, #{sellerid}, #{buyerid});
	</insert>
	
	<select id="checkChatRoomExist" resultType="int">
		SELECT COUNT(chatid)
		FROM chatroom
		WHERE chatid = #{chatid};	
	</select>
    
</mapper>